* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1140px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}

.row {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap; 
}

.column {
    display: flex;
    flex-direction: column;
    flex-flow: column wrap; 
}

.row [class*="col-"] {
    display: block;
}

.first {
    order: -1;
}

.order {
    order: 12;
}
.center {
    text-align: center;
    justify-content: center;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: end;
}

.between {
    justify-content: space-between;
}

.around {
    justify-content: space-around;
}

.col-1 {
    flex-basis: 8.333333%;
    max-width: 8.333333%;
}

.col-2 {
    flex-basis: 16.666666%;
    max-width:  16.666666%;
}

.col-3 {
    flex-basis: 25%;
    max-width:  25%;
}
.col-4 {
    flex-basis: 33.333333%;
    max-width: 33.333333%;
}

.col-5 {
    flex-basis: 41.666666%;
    max-width:  41.666666%;
}

.col-6 {
    flex-basis: 50%;
    max-width:  50%;
}

.col-7 {
    flex-basis: 58.333333%;
    max-width: 58.333333%;
}

.col-8 {
    flex-basis: 66.666666%;
    max-width:  66.666666%;
}

.col-9 {
    flex-basis: 75%;
    max-width:  75%;
}

.col-10 {
    flex-basis: 83.333333%;
    max-width: 83.333333%;
}

.col-11 {
    flex-basis: 91.666666%;
    max-width:  91.666666%;
}

.col-12 {
    flex-basis: 100%;
    max-width:  100%;
}